#page-new-room {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font: 400 24px 'Roboto', sans-serif;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 32px;

  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 100%;
    max-width: 320px;

    > img {
      align-self: center;
    }
  }

    .login-social-button {
      height: 50px;
      margin-top: 56px;
      background: #ea4335;

      display: flex;
      justify-content: center;
      align-items: center;

      font: 500 16px 'Roboto', sans-serif;
      color: #fff;

      border-radius: 8px;
      border: none;

      cursor: pointer;
      transition: filter 0.2s;

      img {
        margin-right: 8px;
      }

      &:hover {
        filter: brightness(0.8)
      }
    }

  .title-content-main {
    margin: 64px 0 24px;

    color: #000;
    font-size: 24px;
    font-family: 'Poppins';
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    input {
      border: 1px #a8a8b3 solid;
      padding: 0 16px;
      margin-bottom: 16px;
      border-radius: 8px;
      height: 50px;
    }
  }

  .navigate-existent-room {
      font-size: 14px;
      color: #737380;

      margin-top: 16px;

      a {
        color: #E559F9;
      }
    }
}
